.input {
  display: flex;
  width: 95%;
  position: relative;
  align-items: center;
}

.input__box {
  width: 100%;
  border-radius: 15px;
  padding: 20px 30px;
  font-size: 25px;
  border: none;
  transition: 0.2s;
}

.input__box:focus {
  box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  outline: none;
}

.input_submit {
  position: absolute;
  width: 15%;
  height: 70%;
  margin: 12px;
  border-radius: 5px;
  right: 0px;
  border: none;
  font-size: 15px;
  background-color: #b5b5b5;
  color: white;
  transition: 0.2s all;
}

.input_submit:hover {
  background-color: #9c9a9a;
}

.input_submit:active {
  transform: scale(0.95);
}

.container {
  width: 95%;
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  align-items: flex-start;
}

.todos {
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  width: 80%;

  padding: 15px;
  margin: 10px;
  background-color: rgb(170, 169, 169);
}

.dragactive {
  background-color: rgb(0, 221, 236);
}

.dragcomplete {
  background-color: rgb(255, 38, 0);
}

.remove {
  background-color: rgb(235, 103, 80);
}

.todos__heading {
  font-size: 30px;
  /* text-align: center; */
  color: white;
}

.todos__single {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  border-radius: 5px;
  padding: 20px;
  margin: 15px;
  background-color: #9c9a9a;
  transition: 0.2s;
}

.drag {
  box-shadow: 0 0 20px black;
}

.todos__single:hover {
  transform: scale(1.03);
  background-color: #c9c9c9;
}

.todos__single--text {
  flex: 1;
  padding: 5px;
  border: none;
  font-size: 20px;
}

.todos__single--text:focus {
  outline: none;
}

.icon {
  margin-left: 10px;
  font-size: 25px;
  cursor: pointer;
}

@media (max-width: 1100px) {
  .todos {
    width: 45%;
  }
}

@media (max-width: 700px) {
  .input {
    width: 95%;
  }
  .container {
    width: 95%;
    flex-direction: column;
  }
  .todos {
    width: 95%;
    margin-bottom: 10px;
  }
}
